.header{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}
.addbutblock
{ 
   margin-left: 172vh;
   margin-top: 2vh;
   margin-bottom: -18vh;
  
}
.addbut
{
    padding-right: 1vh;
    padding-left: 1vh;
    border:1px solid #565761; 
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px #d1d1e0;
}

.form
{
    
    margin-left:auto;
    margin-right: auto;
    margin-top:20vh; 
    width:70vh;
    height:62vh;
    background-color:white;
    color : black;
    border:1px solid #d1d1e0;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #d1d1e0;}
.submitbut
{
    margin-left: 16vh;
    padding-top: 5vh;
}
.cancelbut
{
    margin-left:38vh;
    margin-top: -8.2vh;
    padding-top: 2vh;
}
.input{
    font-size: 3vh;
    margin-left: 13vh;
    margin-right: 2vh;
    font-weight: 400;
}


.name{
    margin-left: 4.7vh;
    width:30vh;
    height: 5vh;
    font-size: 2vh;
    border:1px solid #d1d1e0;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #d1d1e0;
}
.email{
    margin-left: 5.3vh;
    width:30vh;
    height: 5vh;
    font-size: 2vh;
    border:1px solid #d1d1e0;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #d1d1e0;
}
.gender{
    margin-left:3vh;
    width:15vh;
    height: 6vh;
    font-size: 2.5vh;
    border:1px solid #d1d1e0;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #d1d1e0;
}
.status{
    margin-left: 4.4vh;
    padding-bottom: 3vh;
    width:15vh;
    height: 6vh;
    font-size: 2.5vh;
    border:1px solid #d1d1e0;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #d1d1e0;
}